name: CI - Build + SAST + DAST

on:
  push:
    branches: [ main ]
  pull_request:
  repository_dispatch:
    types: [run-security]

jobs:

  sast:
    name: SAST (Bandit + Semgrep)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit 
        run: bandit -r . -f json -o bandit-report.json --exit-zero

      - name: Upload Bandit Report
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report
          path: bandit-report.json

      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        continue-on-error: true
        with:
          config: p/default


  build-and-dast:
    name: Build Docker + Run DAST
    runs-on: ubuntu-latest
    needs: sast

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t documagic:ci .

      - name: Run app container (FastAPI)
        run: |
          docker run -d --name docu-ci -p 8000:8000 documagic:ci
          sleep 5

      - name: Health check
        run: |
          for i in {1..10}; do
            if curl -sSf http://localhost:8000/docs >/dev/null; then
              echo "App is UP"
              exit 0
            fi
            echo "Waiting for app..."
            sleep 2
          done
          echo "App did NOT start"
          exit 1

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: "http://localhost:8000"
          fail_action: false
          allow_issue_writing: false
          cmd_options: "-a"

      - name: Cleanup
        if: always()
        run: |
          docker stop docu-ci || true
          docker rm docu-ci || true
